/*------------------layout forside mobil version-----------------------*/

/* billede 1-2 */

#row_1 {
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2, 1fr);
    margin-top: 7rem;
}

.billede_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.billede_2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* billede 3-4 */

#row_2 {
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2, 1fr);
}

.billede_3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.billede_4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* row 3-4 */

#sectionwrapper {
    display: grid;
    grid-template-rows: (3, 1fr);
    grid-template-columns: (2, 1fr);
}

/* billede 5-7 */
#row_3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;

    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2, 1fr);
}

.billede_5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.billede_6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.billede_7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* billede 8-9 */

#row_4 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
}
