.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

.sektion_1 h2 {
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.sektion_1 p {
    font-family: omnes-pro, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 1px;
}

.sektion_1 {
    position: relative;
    padding: 4rem;
}

.sektion_2 {
    position: relative;
    padding: 3rem;
    max-width: 80%;
    left: 30vw;

}

.sektion_2 p {
    font-family: omnes-pro, sans-serif;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: 1px;
}

.sektion_3 {
    padding: 2rem;
}
