/*--------------------------------- Tema 3: web ---- mobil version ------------------*/

/* ------------- sektion 1 ---------- */
.sektion_1 {
    position: relative;
    background-image: url(baggrunde/krukke_bred.jpg);
    width: 100%;
    background-size: cover;
    height: 300px;
    background-position: 50% 50%;
}

.pil_container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* pil ned */
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* ----------- sektion 2 ---------------- */

.billede_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* slideshow stort billede */
.stort_billede {
    position: relative;
    background-size: cover;
    width: 100vw;
    height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    animation: animate 1.7s ease-in-out infinite;

}

@keyframes animate {

    0%,
    100% {
        background-image: url(baggrunde/line3_hoej.jpg);
    }

    33% {
        background-image: url(baggrunde/line2_hoej.jpg);
    }

    66% {
        background-image: url(baggrunde/line1_hoej.jpg);
    }
}


.lille_billede {
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 2px solid cadetblue;
    margin-bottom: 2rem;
}

/* -------------- sektion 3 ------------------ */
.tekst_container {
    display: flex;
    flex-direction: column;
    background-color: #CE6A6C;
}

.tekst_container h2 {
    font-family: poiret-one, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.7rem;
    padding: 1rem;
}

.tekst_container p {
    font-family: minion-pro, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.3rem;
}

.tekst_container .sek3_tekst1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.tekst_container .sek3_tekst2 {
    padding-left: 4rem;
    padding-right: 1.8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: end;
}

/* --------------- sektion 4 ------------------- */

.sektion_4 {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

/* video */

.video {
    margin-bottom: 3rem;
}

.luna {
    width: 100%;
    height: 53vw;
    padding: 1rem;
}

/* slide */

.slide1 {
    margin: 1rem;
}

.pdf {
    width: 100%;
    height: 510px;
    border: 3px solid black;
    padding: 1rem;
}

/* nederste billede + link til site */
.billede_container2 {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.link_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.siteknap {
    padding: 1rem;
}

.siteknap a {
    text-decoration: none;
    color: black;
    font-family: poiret-one, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    letter-spacing: 1px;
}

.arrow1 {
    position: relative;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    top: 1.4rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
